threadpoolctl==3.5.0
matplotlib==3.10.0
protobuf==5.29.3
pexpect==4.9.0
charset-normalizer==3.4.1
pyzmq==26.2.1
packaging==24.2
decorator==5.1.1
pillow==11.1.0
traitlets==5.14.3
numpy==2.2.3
certifi==2025.1.31
wcwidth==0.2.13
click==8.1.8
GitPython==3.1.44
annotated-types==0.7.0
platformdirs==4.3.6
comm==0.2.2
kiwisolver==1.4.8
umap==0.1.1
seaborn==0.13.2
six==1.17.0
debugpy==1.8.12
sentry-sdk==2.22.0
pure_eval==0.2.3
jupyter_core==5.7.2
setproctitle==1.3.5
smmap==5.0.2
pydantic_core==2.27.2
pytz==2025.1
prompt_toolkit==3.0.50
beautifulsoup4==4.13.3
executing==2.2.0
fonttools==4.56.0
matplotlib-inline==0.1.7
pyparsing==3.2.1
pip==25.0.1
ipython==8.32.0
ptyprocess==0.7.0
stack-data==0.6.3
psutil==7.0.0
pandas==2.2.3
python-dateutil==2.9.0.post0
PyYAML==6.0.2
jupyter_client==8.6.3
contourpy==1.3.1
ipykernel==6.29.5
parso==0.8.4
tornado==6.4.2
soupsieve==2.6
exceptiongroup==1.2.2
requests==2.32.3
urllib3==2.3.0
setuptools==65.5.0
scipy==1.15.2
wandb==0.19.7
pydantic==2.10.6
Pygments==2.19.1
docker-pycreds==0.4.0
nest-asyncio==1.6.0
tzdata==2025.1
asttokens==3.0.0
cycler==0.12.1
python-dotenv==1.0.1
scikit-learn==1.6.1
idna==3.10
gitdb==4.0.12
joblib==1.4.2
sec-cik-mapper==2.1.0
jedi==0.19.2
typing_extensions==4.12.2
